{
  "extends": "next",
  "rules": {
    "@next/next/no-img-element": "warn",
    "@next/next/no-page-custom-font": "warn",
    "@next/next/link-passhref": "warn",
    "react/display-name": "off",
    "react-hooks/exhaustive-deps": "warn",
    "no-unused-vars": "warn", // 프로젝트마무리 할 때 warn으로 수정
    "no-console": "warn" // 프로젝트마무리 할 때 warn으로 수정
  }
}