// 드로워

.rc-drawer {
  position: fixed;
  z-index: 1000;
  width: 0;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.3s,
    width 0s ease 0.3s;
}
.rc-drawer-left,
.rc-drawer-right {
  top: 0;
  width: 0%;
  height: 100%;
}
.rc-drawer-left {
  left: 0;
}
.rc-drawer-right {
  right: 0;
}
.rc-drawer-top {
  top: 0;
}
.rc-drawer-bottom {
  bottom: 0;
}
.rc-drawer-left.rc-drawer-open,
.rc-drawer-right.rc-drawer-open {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.rc-drawer > * {
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1),
    box-shadow 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.rc-drawer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #00000073;
  opacity: 0;
  filter: alpha(opacity=45);
  transition: opacity 0.3s linear, height 0s ease 0.3s;
  pointer-events: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.rc-drawer.rc-drawer-open .rc-drawer-mask {
  height: 100%;
  opacity: 1;
  transition: none;
  animation: FadeIn 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
  pointer-events: auto;
}

.rc-drawer-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rc-drawer-left .rc-drawer-content-wrapper,
.rc-drawer-right .rc-drawer-content-wrapper {
  height: 100%;
}
.rc-drawer-left .rc-drawer-content-wrapper {
  left: 0;
}
.rc-drawer-right .rc-drawer-content-wrapper {
  right: 0;
}
.rc-drawer-top .rc-drawer-content-wrapper {
  top: 0;
}
.rc-drawer-bottom .rc-drawer-content-wrapper {
  bottom: 0;
}
.rc-drawer-left.rc-drawer-open .rc-drawer-content-wrapper {
  box-shadow: 6px 0 16px -8px #00000014, 9px 0 28px #0000000d,
    12px 0 48px 16px #00000008;
}
.rc-drawer-right.rc-drawer-open .rc-drawer-content-wrapper {
  box-shadow: -6px 0 16px -8px #00000014, -9px 0 28px #0000000d,
    -12px 0 48px 16px #00000008;
}
.rc-drawer-top.rc-drawer-open .rc-drawer-content-wrapper {
  box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d,
    0 12px 48px 16px #00000008;
}
.rc-drawer-bottom.rc-drawer-open .rc-drawer-content-wrapper {
  box-shadow: 0 -6px 16px -8px #00000014, 0 -9px 28px #0000000d,
    0 -12px 48px 16px #00000008;
}

.rc-drawer .rc-drawer-content {
  width: 100%;
  height: 100%;
}
.rc-drawer-content {
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
}
