@import './nprogress', './modal', './drawer';

:root {
  --primary: hotpink;
  --secendary: #7fa6c5;
  --text-primary: #000000;
  --text-secendary: #ffffff;
}
html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  color: var(--text-primary);
  background-color: #c5cdd4dd;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}
input,
textarea,
select,
button,
a {
  font-family: inherit;
  font-size: 100%;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
img {
  -webkit-user-drag: none;
}
.no-drag {
  user-select: none;
}
