// 모달

// body scroll lock class
// .ant-scrolling-effect {
// }
.rc-dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: #00000073;
}

.rc-dialog-wrap {
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  &::before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
}

.rc-dialog {
  padding: 0 0 24px;
  margin: 0 auto;
  max-width: calc(100vw - 32px);
  display: inline-block;
  vertical-align: middle;
  pointer-events: none;
}

.rc-dialog-content {
  pointer-events: auto;
  background-color: #fff;
}

@media (max-width: 767px) {
  .rc-dialog {
    flex: 1;
    max-width: calc(100vw - 16px);
    margin: 8px auto;
  }
}
